<!DOCTYPE html>
<html>
    <head>
        <title>Edit Tamu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        $( function() {
          $( "#tanggalLahir" ).datepicker({
            dateFormat: $.datepicker.ISO_8601,
            showOn: "both"
          });
        } );
        </script>
    </head>
    <body>
        <h1>Edit Tamu</h1>
        
        <form method="post" th:action="@{/tamu/form}" th:object="${tamu}">
            <div>
                Nama : <input name="nama">
                <div id="pesan-error-nama" th:if="${#fields.hasErrors('nama')}" th:errors="*{nama}"></div>
            </div>
            <div>Email : <input name="email"> 
                <div id="pesan-error-email" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
            <div>Tanggal Lahir : <input name="tanggalLahir" id="tanggalLahir">
                <div id="pesan-error-tanggalLahir"  th:if="${#fields.hasErrors('tanggalLahir')}" th:errors="*{tanggalLahir}"></div>
            </div>
            <div>Jenis Kelamin : 
                <ul>
                    <li th:each="jk : ${T(com.muhardin.endy.training.automatedtest.aplikasibukutamu.entity.JenisKelamin).values()}">
                      <input type="radio" 
                          th:field="*{jenisKelamin}"
                          th:value="${jk}" />
                      <label 
                          th:for="${#ids.prev('jenisKelamin')}"
                          th:text="${jk}"></label>
                    </li>
                  </ul>
                <div id="pesan-error-jenisKelamin"  th:if="${#fields.hasErrors('jenisKelamin')}" th:errors="*{jenisKelamin}"></div>
            </div>
            <div>Pendidikan : 
                <select th:field="*{pendidikan}">
                    <option 
                        th:each="p : ${T(com.muhardin.endy.training.automatedtest.aplikasibukutamu.entity.Pendidikan).values()}"
                        th:value="${p}"
                        th:text="${p}" >
                    </option>
                  </select>
                <div id="pesan-error-pendidikan"  th:if="${#fields.hasErrors('pendidikan')}" th:errors="*{pendidikan}"></div>
            </div>
            <div>No. HP : <input name="noHp">
                <div th:if="${#fields.hasErrors('noHp')}" th:errors="*{noHp}"></div>
            </div>
            <div>Alamat : <br>
                <textarea name="alamat" rows="10" cols="60"></textarea>
                <div th:if="${#fields.hasErrors('alamat')}" th:errors="*{alamat}"></div>
            </div>
            <div><input type="submit" name="simpan"></div>
        </form>
        
    </body>
</html>
